:root{
  --primary: #3066BE;

  /** secondary **/
  --secondary: #70A9A1;

  /** tertiary **/
  --tertiary: #480355;

  /** success **/
  --success: #759B1C;

  /** warning **/
  --warning: #F6AE2D;

  /** danger **/
  --danger: #BD1E1E;

  /** dark **/
  --dark: #1C1C1C;

  /** medium **/
  --medium: #A69A8C;

  /** light **/
  --light: #F7F1F8;
}
